body {
	margin: 0;
	min-height: 100vh;
	min-width: 100vh;
	background-color: rgb(75, 9, 75);
	overflow: hidden;
	cursor: pointer;
}

/* Moving eyes */
.eyes {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
	/* background-color: gray; */
}
.eye {
	position: relative;
	width: 240px;
	height: 120px;
	background: #fff;
	display: inline-block;
	border-radius: 50%;
	margin: 40px;
	overflow: hidden;
}
.ball {
	position: absolute;
	height: 40px;
	width: 40px;
	background: #000;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 15px solid brown;
}

.circle {
	position: absolute;
	width: 23px;
	height: 23px;
	border-radius: 50%;
	border: 3px solid white;
	z-index: 1;

	/* creates the beautiful lag */
	transition-duration: 200ms;
	transition-timing-function: ease-out;
	animation: circleAni 0.5s infinite alternate;
}

.circle::after {
	content: "";
	position: absolute;
	width: 35px;
	height: 35px;
	opacity: 0.5;
	border-radius: 50%;
	border: 8px solid tomato;
	z-index: 1;

	/* To center things reduce amount pixel from position */
	top: -14px;
	left: -14px;

	/* creates the beautiful lag */

	animation: circleAni2 0.5s infinite alternate;
}

.expand {
	animation: circleAni3 0.5s forwards;
	border: 10px solid red;
}
@keyframes circleAni {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(0.7);
	}
}
@keyframes circleAni2 {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(0.4);
	}
}
@keyframes circleAni3 {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(3);
	}
	100% {
		transform: scale(1);
		opacity: 0;
	}
}
